.main {
  min-height: 100vh;
}

.footer {
  background-color: #212529;
  text-align: center;
  padding: 10px 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}
