.container {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: #393a3a;
  border: 1px solid #fdfeff !important;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3) !important;
}

.card-title {
  color: #faf8f8;
  font-weight: 600;
  border-bottom: 2px solid #f7f7f7;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.display-4 {
  color: #eeeaea;
  font-weight: 700;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #7b7b7b !important;
}

.form-label {
  color: #e0e0e0;
  margin-bottom: 0.5rem;
}

.form-control {
  background-color: #0f3460;
  border: 1px solid #253b70;
  color: #e0e0e0;
  transition: all 0.3s ease;
}
