.card {
  margin-bottom: 1.5rem;
  width: 100%;
}

.textGradiant {
  background: linear-gradient(to right, rgba(255, 110, 97, 0.253), transparent);
}

.display-4 {
  color: #eeeaea;
  font-weight: 700;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #7b7b7b !important;
}

.buttonEditar {
  background-color: #ff6f61;
  border: 1px solid #ff6f61;
  border-radius: 7px;
  color: #fff;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonEditar:hover {
  transform: scale(1.02);
}
